[submodule "xrt"]
	path = xrt
	url = https://github.com/Xilinx/XRT
[submodule "xrt2"]
	path = xrt2
	url = https://github.com/Xilinx/XRT
	branch = u30_alpha
[submodule "xrt5"]
	path = xrt5
	url = https://github.com/Xilinx/XRT
